# Pandas Demo

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'name': ['bird', 'dog', 'owl', 'owl'],
    'project A': [10, 2, 7, 2, ],
    'project B': [5, 3, 23, 17, ],
    'project C': [21, 13, 4, 1, ],
})

In [3]:
df.groupby('name').sum()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>project A</th>
      <th>project B</th>
      <th>project C</th>
    </tr>
    <tr>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>bird</th>
      <td>10</td>
      <td>5</td>
      <td>21</td>
    </tr>
    <tr>
      <th>dog</th>
      <td>2</td>
      <td>3</td>
      <td>13</td>
    </tr>
    <tr>
      <th>owl</th>
      <td>9</td>
      <td>40</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</div>